ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
    width: 50vw;

}

.TodoList {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 425px) {
    ul {
        width: 90vw;
    }
}