.HideTodoButton {
    text-align: center;
    font-size: 25px;
    padding-bottom:30px;
}

.HideTodoButton button {
    border: none;
    background-color: #e8e8e8;
}

.HideTodoButton span {
    font-weight: 100;
    font-size: 25px;
    padding-bottom:30px;
}

.icon-eye-blocked:hover {
    cursor: pointer;
}