.CreateTodoButton {
    bottom: 100px;
    right: 20px;
    position: fixed;
    z-index: 1;
}

.CreateTodoButton__button {
    margin-right: 15px;
    color: black;
    background-color: white;
    border: 2.2px solid black;
    border-radius: 15px;
    font-weight: 700;
    font-size: 50px;
    transform: rotate(0);
    transition: .3s ease;
    padding: 1px 13px;
}

.CreateTodoButton__button:hover {
    cursor: pointer;
    transform: rotate(270deg);
}
